@tailwind base;
@tailwind components;
@tailwind utilities;

.slider {
  &::-webkit-slider-thumb {
    background-clip: padding-box;
    border: 0.4rem solid #6F8970;
    transform: scale(1.5);
  }
  &::-moz-range-thumb {
    background-clip: padding-box;
    border: 0.4rem solid #6F8970;
    box-sizing: border-box;
    transform: scale(1.5);
  }
}


input[type=range]::-webkit-slider-runnable-track {
    background: #ddd;
}

input[type=range]::-moz-range-track {
    background: #ddd;
}

.primary-color {
  background-color: #6F8970;
}

input[type=range].form-range::-webkit-slider-thumb {
  background-color: #6F8970;
}

input[type=range].form-range::-moz-range-thumb {
  background-color: #6F8970;
}

@layer base {
    :root {
      --background: 122 62% 100%;
      --foreground: 122 53% 3%;
      --muted: 122 37% 87%;
      --muted-foreground: 122 3% 37%;
      --popover: 122 62% 100%;
      --popover-foreground: 122 53% 3%;
      --card: 122 62% 100%;
      --card-foreground: 122 53% 3%;
      --border: 122 10% 92%;
      --input: 122 10% 92%;
      --primary: 122 10% 49%;
      --primary-foreground: 0 0% 100%;
      --secondary: 122 3% 87%;
      --secondary-foreground: 122 3% 27%;
      --accent: 122 11% 80%;
      --accent-foreground: 122 11% 20%;
      --destructive: 18 97% 33%;
      --destructive-foreground: 0 0% 100%;
      --ring: 122 10% 49%;
      --chart-1: 122 10% 49%;
      --chart-2: 122 3% 87%;
      --chart-3: 122 11% 80%;
      --chart-4: 122 3% 90%;
      --chart-5: 122 13% 49%;
      --radius: 0.5rem;
    }
  
    .dark {
      --background: 122 51% 2%;
      --foreground: 122 40% 99%;
      --muted: 122 37% 13%;
      --muted-foreground: 122 3% 63%;
      --popover: 122 51% 2%;
      --popover-foreground: 122 40% 99%;
      --card: 122 51% 2%;
      --card-foreground: 122 40% 99%;
      --border: 122 10% 14%;
      --input: 122 10% 14%;
      --primary: 122 10% 49%;
      --primary-foreground: 0 0% 100%;
      --secondary: 122 1% 17%;
      --secondary-foreground: 122 1% 77%;
      --accent: 122 10% 22%;
      --accent-foreground: 122 10% 82%;
      --destructive: 18 97% 50%;
      --destructive-foreground: 0 0% 100%;
      --ring: 122 10% 49%;
      --chart-1: 122 10% 49%;
      --chart-2: 122 1% 17%;
      --chart-3: 122 10% 22%;
      --chart-4: 122 1% 20%;
      --chart-5: 122 13% 49%;
    }
  }
  

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}